<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milan.brtshelper">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_simplebus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_simplebus_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigationMapActivity"></activity>
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".StationListActivity" />
        <activity android:name=".BusListActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SearchSouceFromMain" />
    </application>

</manifest>